<div class="my-4 container">
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <form [formGroup]="formEnvio">
                <mat-card class="mb-4 bg-white custom-shadow">
                    <mat-card-header class="py-3 px-4">
                        <mat-card-title class="d-flex align-items-center gap-2">
                            <div class="section-number">
                                1
                            </div>
                            <span class="fs-5">Información del cliente</span>
                        </mat-card-title>
                    </mat-card-header>

                    <mat-divider class="bg-divider" />

                    <mat-card-content class="p-4">
                        <div class="row">
                            <div class="row">
                                <div class="col-12">
                                    <label class="mat-subtitle-2 f-w-500 b-2 d-block">Nombre</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" formControlName="nombre" matInput placeholder="Ej: Juan"
                                            maxlength="50" />

                                        @if (formEnvio.get('nombre')?.hasError('required')) {
                                        <mat-error>El nombre es obligatorio.</mat-error>
                                        }
                                        @if (formEnvio.get('nombre')?.hasError('minlength')) {
                                        <mat-error>Debe tener al menos 2 caracteres.</mat-error>
                                        }
                                        @if (formEnvio.get('nombre')?.hasError('maxlength')) {
                                        <mat-error>No debe superar los 50 caracteres.</mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="col-12">
                                    <label class="mat-subtitle-2 f-w-500 b-2 d-block">Apellidos</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" formControlName="apellidos" matInput
                                            placeholder="Ej: Pérez López" maxlength="50" />

                                        @if (formEnvio.get('apellidos')?.hasError('required')) {
                                        <mat-error>Los apellidos son obligatorios.</mat-error>
                                        }
                                        @if (formEnvio.get('apellidos')?.hasError('minlength')) {
                                        <mat-error>Debe tener al menos 2 caracteres.</mat-error>
                                        }
                                        @if (formEnvio.get('apellidos')?.hasError('maxlength')) {
                                        <mat-error>No debe superar los 50 caracteres.</mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="col-12">
                                    <label class="mat-subtitle-2 f-w-500 b-2 d-block">Correo Electrónico</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="email" formControlName="correo" matInput
                                            placeholder="Ej: juan.perez@email.com" maxlength="100" />

                                        @if (formEnvio.get('correo')?.hasError('required')) {
                                        <mat-error>El correo es obligatorio.</mat-error>
                                        }
                                        @if (formEnvio.get('correo')?.hasError('email')) {
                                        <mat-error>Debe tener un formato de correo.</mat-error>
                                        }
                                        @if (formEnvio.get('correo')?.hasError('maxlength')) {
                                        <mat-error>No debe superar los 100 caracteres.</mat-error>
                                        }
                                    </mat-form-field>
                                </div>

                                <div class="col-12">
                                    <label class="mat-subtitle-2 f-w-500 b-2 d-block">Nro. de Celular</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="tel" formControlName="celular" matInput placeholder="Ej: 71234567"
                                            maxlength="15" />

                                        @if (formEnvio.get('celular')?.hasError('required')) {
                                        <mat-error>El número de celular es obligatorio.</mat-error>
                                        }
                                        @if (formEnvio.get('celular')?.hasError('minlength')) {
                                        <mat-error>Debe tener al menos 7 dígitos.</mat-error>
                                        }
                                        @if (formEnvio.get('celular')?.hasError('maxlength')) {
                                        <mat-error>No debe superar los 15 dígitos.</mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="bg-white custom-shadow">
                    <mat-card-header class="py-3 px-4">
                        <mat-card-title class="d-flex align-items-center gap-2">
                            <div class="section-number">
                                2
                            </div>
                            <span class="fs-5">Dirección de Envio</span>
                        </mat-card-title>
                    </mat-card-header>

                    <mat-divider class="bg-divider" />

                    <mat-card-content class="p-4">
                        <div class="row">
                            <div class="col-12">
                                <label class="mat-subtitle-2 f-w-500 b-2 d-block">Calle o Avenida y número</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" formControlName="direccion" matInput
                                        placeholder="Ej: Av. Mariscal Santa Cruz N° 123" maxlength="100" />

                                    @if (formEnvio.get('direccion')?.hasError('required')) {
                                    <mat-error>La dirección es obligatoria.</mat-error>
                                    }
                                    @if (formEnvio.get('direccion')?.hasError('maxlength')) {
                                    <mat-error>Máximo 100 caracteres permitidos.</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <label class="mat-subtitle-2 f-w-500 b-2 d-block">Zona o Barrio</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" formControlName="zona" matInput placeholder="Ej: Miraflores"
                                        maxlength="50" />

                                    @if (formEnvio.get('zona')?.hasError('required')) {
                                    <mat-error>La zona o barrio es obligatorio.</mat-error>
                                    }
                                    @if (formEnvio.get('zona')?.hasError('maxlength')) {
                                    <mat-error>Máximo 50 caracteres permitidos.</mat-error>
                                    }
                                </mat-form-field>
                            </div>

                            <div class="col-12">
                                <label class="mat-subtitle-2 f-w-500 b-2 d-block">Ciudad</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input type="text" formControlName="ciudad" matInput placeholder="Ej: La Paz"
                                        maxlength="50" />

                                    @if (formEnvio.get('ciudad')?.hasError('required')) {
                                    <mat-error>La ciudad es obligatoria.</mat-error>
                                    }
                                    @if (formEnvio.get('ciudad')?.hasError('maxlength')) {
                                    <mat-error>Máximo 50 caracteres permitidos.</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>


        <div class="col-12 col-md-6">
            @if(countProduct <= 0){
                <div class="alert alert-light text-primary f-w-900" role="alert">
                    No se tiene productos agregados al carrito
                </div>
            } @else {
                <mat-card class="bg-white custom-shadow">
                    <mat-card-header class="py-3 px-4">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <span class="fs-5">Resumen del pedido</span>
                            <span class="fs-6 text-muted">{{countProduct}} productos</span>
                        </div>
                    </mat-card-header>
    
                    <mat-divider class="bg-divider" />
    
                    <mat-card-content class="p-4">
                        @for (product of products; track product.id; let last = $last;) {
                            <div class="row align-items-center mb-3 pb-2" [ngClass]="{'border-bottom': !last}">
                          
                              <div class="col-auto">
                                <img [src]="product.thumbnail || product.images[0]"
                                    loading="lazy" width="84" height="84"
                                    [alt]="product.title"
                                    class="rounded border border-secondary p-2 img-product-cart">
                              </div>
                          
                              <div class="col-12 col-md-4">
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="fw-500">{{ product.title }}</div>
                                  <button (click)="removeProduct(product.id)" mat-icon-button color="warn" >
                                    <mat-icon class="delete-icon" matTooltip="Eliminar producto">delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                          
                              <div class="col-12 col-md-5 mt-2 mt-md-0">
                                <div class="d-flex align-items-center justify-content-between">
                                  
                                  <div class="d-flex align-items-center border-item">
                                    <button (click)="decreaseQuantity(product)" mat-icon-button  [disabled]="product.quantity === 1">
                                      <mat-icon>remove</mat-icon>
                                    </button>
                          
                                    <span class="mx-2 fw-medium">{{ product.quantity }}</span>
                          
                                    <button (click)="increaseQuantity(product)" mat-icon-button >
                                      <mat-icon>add</mat-icon>
                                    </button>
                                  </div>
                          
                                  <div class="text-muted ms-3 product-price">
                                    {{ product.price * product.quantity! | currency:'Bs. ':'symbol':'1.2-2' }}
                                  </div>
                                </div>
                              </div>
                            </div>
                          }
    
                        <div class="dashed-divider"></div>
    
                        <div class="d-flex justify-content-between fs-5 fw-semibold mx-3">
                            <span class="fs-5">Total</span>
                            <span class="fs-5">Bs. {{ getTotalPrice() | number:'1.2-2' }}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            }
            <div class="m-4 text-center">
                <button (click)="enviarPedido()" mat-flat-button color="primary" [disabled]="countProduct <= 0">
                    <mat-icon class="me-1">check_circle</mat-icon>
                    Realizar Pedido
                </button>
            </div>
        </div>
    </div>
</div>