/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Definición de tu paleta de colores
:root {
  --blue-dark: #03045e; // Azul oscuro (para textos importantes)
  --blue-primary: #0077b6; // Azul principal (header, botones principales)
  --blue-light: #00b4d8; // Azul claro (botones secundarios, acentos)
  --blue-pale: #90e0ef; // Azul pálido (bordes, fondos secundarios)
  --blue-very-light: #caf0f8; // Azul muy claro (fondo general)
}

// Sobreescribir variables de Bootstrap con tu paleta
$primary: var(--blue-primary);
$secondary: var(--blue-light);
$light: var(--blue-very-light);
$dark: var(--blue-dark);
$info: var(--blue-pale);

// Clases personalizadas de color
.bg-blue-pale {
  background-color: var(--blue-pale);
}

.text-blue-light {
  color: var(--blue-light);
}
